$mainBg: #e5e5e5;
$greyBg: #DFE6E8;
$darkBlue: rgba(0, 43, 64, 1);
$extraDark: #032736;
$white: #fff;
$whiter: #fefefe;
$lightGreen: #72bf00;
$darkGreen: #00755f;
$darkGreenHover: #005D4C;
$lightGrey: #eff2f3;
$grey: #5e7177;
$black: #002b40;

$gothic: "Gothic A1", sans-serif;
$amiri: "Amiri", serif;
